@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Sarabun', sans-serif;
}
//master color {
$success: #2ecc71;
$warning: #f1c40f;
$danger: #e74c3c;
$info: #3498db;
.color-success {
    color: $success !important;
}
.color-warning {
    color: $warning !important;
}
.color-danger {
    color: $danger !important;
}
.color-info {
    color: $info !important;
}
.lb-control {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

//master class
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    border: none;
    transition: .3s;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    max-width: 100%;
    max-height: 100%;
    padding: 10px 20px;
    &:hover {
        opacity: .6;
    }
}
.btn-success {
    background: $success;
    color: #fff;
    margin: 10px;
}
.btn-warning {
    background: $warning;
    color: #333;
    margin: 10px;
}
.btn-danger {
    background: $danger;
    color: #fff;
    margin: 10px;
}
.btn-info {
    background: $info;
    color: #fff;
    margin: 10px;
}
.btn-upload {
    background: $success;
    color: #fff;
    margin: 10px;
}
.btn-edit {
    background: $warning;
    color: #333;
    margin: 10px;
}
.btn-delete {
    background: $danger;
    color: #fff;
    margin: 10px;
}



//section-index
.index {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(125deg, #b71540, #000);
    
    display: flex;
    justify-content: center;
    align-items: center;
    .index-home {
        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        .index-home-logo {
            width: 25%;
            height: 25%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .index-title-main {
            color: #fff;
            font-size: 2.5rem;
            font-weight: 600;
            margin: 10px 0;
        }
        .index-title-sub {
            color: #fff;
            font-size: 1.2rem;
            font-weight: 300;
        }
        .index-home-btn {
            display: flex;
            margin: 20px 0;
            .btn-student {
                width: 200px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                border: none;
                transition: .3s;
                cursor: pointer;
                border-radius: 5px;
                font-size: 1.5rem;
                padding: 10px 0;
                background: $warning;
                color: #333;
                margin: 0 10px;
                &:hover {
                    opacity: .8;
                }
                i { font-size: 3rem; margin: 10px;}
            }
            .btn-teacher {
                width: 200px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                border: none;
                transition: .3s;
                cursor: pointer;
                border-radius: 5px;
                font-size: 1.5rem;
                padding: 10px 0;
                background: $danger;
                color: #fff;
                margin: 0 10px;
                i { font-size: 3rem; margin: 10px;}
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}
.register {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: linear-gradient(125deg, #b71540, #000);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    .card-header {
        width: 80%;
        padding: 20px;
        height: 60px;
        background: #333;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        display: flex;
        justify-content: space-between;
        .card-header-logo {
            display: flex;
            align-items: center;
            width: 50%;
            .header-logo {
                width: 70px;
                height: 70px;
                margin-right: 20px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .card-header-system {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
    }
    .card {
        width: 80%;
        background: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        .telAdmin {
            width: 70%;
            padding: 20px;
            color: #333;
            background: $warning;
            text-align: center;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .lb-form-control {
            display: flex;
            justify-content: space-around;
            width: 100%;
            .lb-items-control {
                margin: 10px 0;
                width: 40%;
                display: flex;
                flex-direction: column;
                p {
                    font-weight: 300;
                }
                
            }
        }
        .tableResponsive {
            width: 100%;
            overflow: auto;
            .tableCheckin {
                width: 100%;
                border: 1px solid #000;
                border-collapse: collapse;
                tr {
                    th {
                        border: 1px solid #000;
                        border-collapse: collapse;
                        padding: 5px;
                    }
                    .th-date {
                        max-width: 30px;
                        height: 90px;
                    }
                    td {
                        border: 1px solid #000;
                        border-collapse: collapse;
                        padding: 5px;
                        .chkCheckin {
                            display: flex;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            margin: 0 auto;
                        }
                        .txtCheckin {
                            
                        }
                    }
                }
            }
        }
        .card-reason {
            width: 100%;
            margin-bottom: 20px;
            .search-control {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                margin-bottom: 20px;
                .search-control-label {
                    display: flex;
                    flex-direction: column;
                    label {
                        margin-right: 10px;
                    }
                    label:last-child {
                        font-size: .9rem;
                    }
                }
                .search-form {
                    padding: 10px;
                    width: 200px;
                    font-size: 1.3rem;
                }
                .sel-filter {
                    font-size: 1rem;
                    padding: 5px;
                    width: 30%;
                }
            }
        }
        .card-club {
            width: 100%;
            font-size: 1.2rem;
            thead {
                tr {
                    th {
                        background: #333;
                        color: $warning;
                        padding: 10px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 10px;
                    }
                    td:last-child {
                        display: flex;
                    }
                }
                tr:nth-child(odd) {
                    background: #e5e5e5;
                }
            }
        }
        .card-status {
            margin: 50px 0;
            .pass {
                font-size: 7rem;
                color: $success;
            }
            .fail {
                font-size: 7rem;
                color: $danger;
            }
        }
        .timer-wait {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .progress-bar {
                width: 50%;
                margin-bottom: 30px;
            }
            .a-check-club {
                color: $danger;
                font-size: 1.3rem;
                margin: 10px;
            }
        }
        .timer-done {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .sel-club {
                padding: 10px;
                width: 100%;
                font-size: 1.2rem;
                margin: 40px 0;
            }
            .btn-control-row {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
        
        
        .card-control-1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            .txt-data {
                padding: 5px 10px;
                font-size: 1rem;
            }
        }
        .card-control-2 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            .card-control {
                width: 48%;
                display: flex;
                flex-direction: column;
                .txt-data {
                    padding: 5px 10px;
                    font-size: 1rem;
                }
            }
        }
        .card-control-3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            .sel-data {
                padding: 5px 10px;
                font-size: 1rem;
            }
        }
        .card-control-4 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            .card-control {
                width: 48%;
                display: flex;
                flex-direction: column;
                .sel-data {
                    padding: 5px 10px;
                    font-size: 1rem;
                }
            }
        }
        .space {
            width: 100%;
            margin: 25px 0;
        }
        .btn-control-row {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
footer {
    width: 100%;
    height: auto;
    background: $warning;
    color: #333;
    p {
        width: 100%;
        text-align: center;
        font-size: .7rem;
        a {
            color: #333;
            text-decoration: none;
            cursor: auto;
        }
    }
}


/* teacher pages */
.teacher-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    .passcode {
        padding: 5px 10px;
        font-size: 1rem;
    }
}



/* loading page */
@keyframes ldio-abebizowwe5 {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }
  
  .ldio-abebizowwe5 div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-abebizowwe5 3.3333333333333335s cubic-bezier(0,0.2,0.8,1) infinite;
  }
  
  .ldio-abebizowwe5 div:nth-child(1) {
    border-color: #ff312d
  }
  
  .ldio-abebizowwe5 div:nth-child(2) {
    border-color: #f5c037;
    animation-delay: -1.6666666666666667s;
  }
  
  .loadingio-spinner-ripple-cs0r6su1glk {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
  }
  .ldio-abebizowwe5 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-abebizowwe5 div { box-sizing: content-box; }
  /* generated by https://loading.io/ */

  /*-------- Progress bar -----------------*/
  $height: 15px;
  $radius: 3px;
  
  .sb-progress {
    -webkit-appearance: none;
    appearance: none;
    height: $height;
    width: 100%;
    
    &::-webkit-progress-bar, &::-webkit-progress-value {
      border-radius: $radius;
    }
  }
  
  //color palette: https://www.google.com/design/spec/style/color.html#color-color-palette
  
  //$mapColor parameters
  //class name
  //background-color 1
  //background-color 2
  
  $mapColor: 
    ('green',  #66bb6a, #c8e6c9),
    ('red', #ef5350, #ffcdd2),
    ('blue', #5c6bc0, #c5cae9),
    ('orange', #ffa726, #ffe0b2);
  
   @each $class, $color1, $color2 in $mapColor {
     .sb-progress--#{$class} {
       &::-webkit-progress-bar {
         background-color: $color2;
       }
       
       &::-webkit-progress-value {
         background-color: $color1;
       }
     }
  }
  /*-------------------------------*/

//admin
.admin-container {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    .admin-nav {
        width: 20%;
        h4 {
            color: #95a5a6;
            margin-bottom: 5px;
        }
        .admin-nav-logo {
            width: 100px;
            height: 50px;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .admin-nav-dashboard {
            li {
                list-style: none;
                line-height: 25px;
                a {
                    color: #3498db;
                }
            }
        }
    }
    .admin-dashboard {
        width: 80%;
        .check-insert-student-1 {
            box-sizing: border-box;
            margin: 20px 0;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
            background: #f7f7f7;
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .sel-insert {
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 1rem;
                width: 50%;
                margin: 10px;
            }
            .cis-row {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
        }
        .check-insert-student-2 {
            box-sizing: border-box;
            margin: 20px 0;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
            background: #f7f7f7;
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .sel-insert {
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 1rem;
                width: 50%;
                margin: 10px;
            }
            .cis-row {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
        .search-std-card {
            box-sizing: border-box;
            margin: 20px 0;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
            background: #f7f7f7;
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            input[type=search] {
                font-size: 1rem;
                padding: 10px;
                width: 100%;
                border-radius: 5px;
                border: 1px solid #e5e5e5;
            }
            .search-std-control {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 10px 0;
                .sel-std-search {
                    border: 1px solid #e5e5e5;
                    font-size: 1rem;
                    padding: 10px;
                    border-radius: 5px;
                    width: 49%;
                }
            }
        }
        .btn-manage {
            display: flex;
        }
        h4 {
            color: #95a5a6;
        }
        h1 {
            font-size: 2.5rem;
            font-weight: 300;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 10px;
        }
        table {
            width: 100%;
            text-align: center;
            thead {
                tr {
                    th:last-child {
                        width: 180px;
                    }
                    .img {
                        width: 40%;
                    }
                    .btn-action {
                        width: 20%;
                    }
                }
            }
            tbody {
                tr {
                    .img {
                        img {
                            width: 80%;
                            object-fit: cover;
                            margin: 0 auto;
                        }
                    }
                    td:last-child {
                        width: 180px;
                        display: flex;
                        justify-content: space-around;
                    }
                }
                tr:nth-child(odd) {
                    background: #f7f7f7;
                }
            }
        }
        .form-control-button {
            display: flex;
        }
        .form-control {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            h3 {
                margin-top: 30px;
            }
            .form-control-col {
                display: flex;
                flex-direction: column;
                .form-control-row {
                    display: flex;
                    align-items: center;
                    p {
                        width: 20%;
                    }
                }
            }
            .form-control-skill {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .form-control-items {
                    margin-right: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .chk-content {
                        width: 20px;
                        height: 20px;
                        margin: 5px 0;
                        cursor: pointer;
                    }
                    .img-items {
                        width: 50px;
                        height: 50px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
        
                        }
                    }
                }
            }
            label {
                margin: 10px 0;
            }
            .txt-content {
                width: 50%;
                padding: 5px;
                font-size: 1rem;
            }
            .sel-content {
                width: 52%;
                padding: 5px;
                font-size: 1rem;
            }
            .form-upload {
                display: flex;
                align-items: center;
                margin: 5px 0;
                label {
                    height: 35px;
                    width: 100px;
                    border: none;
                    border-radius: 5px;
                    background: #f1c40f;
                    color: #333;
                    transition: 0.3s;
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        opacity: 0.7;
                    }
                    .file-upload {
                        position: absolute;
                        left: -9999px;
                    }
                }
                p {
                    margin-left: 20px;
                    font-size: 1rem;
                }
            }
        }
    }
}



// last


@media screen and (max-width:1200px){
    .index {
        .index-home {
            .index-home-logo {
                width: 200px;
                height: 200px;
            }
        }
    }
    .tableCheckin {
        overflow-x: auto;
    }
} // browser
@media screen and (max-width:810px){ // ipad portrait
    .register {
        height: auto;
        .card-header {
            .card-header-logo {
                .header-logo {
                    width: 50px;
                    height: 50px;
                }
                .header-title {
                    h1 {
                        font-size: 1.4rem;
                    }
                    h3 {
                        font-size: 1rem;
                    }
                }
            }
            .card-header-system {
                align-items: flex-end;
                h2 {
                    font-size: 1rem;
                }
                h4 {
                    font-size: .8rem;
                }
            }
        }
        .card {
            .lb-form-control {
                display: flex;
                flex-direction: column;
                .lb-items-control {
                    width: 100%;
                    h3 {
                        text-align: left;
                    }
                }
            }
            .card-reason {
                h3 {
                    text-align: left;
                }
            }
            .card-club {
                thead {
                    tr {
                        th {
                            font-size: .7rem;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: .7rem;
                        }
                    }
                }
            }
            h1 {
                font-size: 1.4rem;
            }
            h3 {
                font-size: 1rem;
                text-align: center;
            }
            .sel-club {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width:500px){ // mobile portrait
    .index {
        .index-home {
            .index-home-logo {
                width: 100px;
                height: 100px;
            }
            .index-title-main {
                font-size: 1.2rem;
            }
            .index-title-sub {
                font-size: .8rem;
            }
            .index-home-btn {
                display: flex;
                flex-direction: column;
                .btn-student, .btn-teacher {
                    display: flex;
                    flex-direction: row;
                    width: 200px;
                    height: 25px;
                    font-size: 1rem;
                    margin: 10px 0;
                    i {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .register {
        height: auto;
        .card-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            .card-header-logo {
                display: flex;
                flex-direction: column;
                .header-logo {
                    margin: 0 0 5px 0;
                    width: 50px;
                    height: 50px;
                }
                .header-title {
                    h1 {
                        font-size: 1rem;
                        text-align: center;
                    }
                    h3 {
                        font-size: .6rem;
                        text-align: center;
                    }
                }
                
            }
            .card-header-system {
                align-items: center;
                margin-top: 10px;
                width: 100%;
                h2 {
                    font-size: .7rem;
                    text-align: center;
                }
                h4 {
                    font-size: .5rem;
                    text-align: center;
                }
            }
        }
        .card {
            .card-reason {
                .search-control {
                    display: flex;
                    flex-direction: column;
                    .search-control-label {
                        align-items: center;
                    }
                    .search-form {
                        margin: 10px 0;
                        font-size: 1rem;
                    }
                }
                h3 {
                    font-size: .8rem;
                    text-align: left;
                }
            }
            .card-club {
                thead {
                    tr {
                        th {
                            font-size: .7rem;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: .7rem;
                        }
                    }
                }
            }
            h1 {
                font-size: 1.2rem;
            }
            h3 {
                font-size: .8rem;
                text-align: center;
            }
            .timer-wait {
                .a-check-club {
                    font-size: .8rem;
                    text-align: center;
                }
                .progress-bar {
                    width: 100%;
                    .sb-progress {
                        width: 100%;
                    }
                }
            }
            .timer-done {
                width: 100%;
                .sel-club {
                    width: 80%;
                }
            }
            .btn-control-row {
                flex-direction: column-reverse;
            }
        }
    }
}